<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Avaliação de SI</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Avaliação de Sistemas de Informação</h1>
    </header>
    <main>
        <h2>Avaliação de Aderência de Sistemas de Informação a Processos de Negócio</h2>
        <h3>Entrada de dados</h3>
    
        <% if (validacao) { %>
            <ul>
                <% for (var i=0; i < validacao.length; i++) { %>
                    <li>
                        <%= validacao[i].msg %>
                    </li>
                <% } %>
            </ul>
        <% } %>
        
        <form action="/entrada/salvar" method="post">
            <p>Informe o nome do sistema : </p>
            <input type="radio" name="sistema" id="sistema" value="GESP">
            <label for="sistema">GESP (Polícia Federal)</label>
            <input type="radio" name="sistema" id="sistema" value="SIPAC">
            <label for="sistema">SIPAC (UFPE)</label>
            <p>Informe a data de início da análise : <input type="date" id="dt_inicio" name="dt_inicio"> <br></p>        
            <p>Informe a data de fim da análise : <input type="date" id="dt_fim" name="dt_fim"> <br></p>
            <p>Informe a quantidade de usuários INTERNOS do sistema : <input type="number" id="qt_usu_int" name="qt_usu_int"> <br></p>    
            <p> informe a quantidade de usuários EXTERNOS (se houver) : <input type="number" id="qt_usu_ext" name="qt_usu_ext"> <br></p>   
            <input type="submit" value="enviar" id="botao">
        </form>       
    </main>
    <footer>
        <p>Christian Gomes Bezerra dos Santos / christian.gomes@ufpe.br</p>
    </footer>         
</body>
</html>